.swiper-button-next,
.swiper-button-prev {
  background-color: white !important;
  background-position: center !important;
  background-size: 16px !important; /* Adjusted size */
  background-repeat: no-repeat;
  padding: 8px 16px !important;
  border-radius: 50% !important;
  border: 1px solid #e0e0e0 !important;
  height: 2.5rem !important;
  width: 2.6rem !important;
  color: #191919 !important;
  background-image: url("../../../../assets/left.svg") !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-next {
  background-image: url("../../../../assets/right.svg") !important;
  left: 22px !important;
}
.swiper-button-prev {
  background-image: url("../../../../assets/left.svg") !important;
  left: -38px !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

/* .swiper-button-prev {    
            content: url('../../../assets/left.svg');
          }

          .swiper-button-next {
            content: url('../../../assets/left.svg');
          } */

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  background-color: red;
}

.swiper-wrapper {
  padding-bottom: 35px !important;
}
.swiper-container-horizontal > .swiper-pagination {
  position: absolute !important;
  bottom: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #191919 !important;
  height: 8px;
  width: 16px !important;
  border-radius: 16px !important;
}
